[defaults]
inventory = inventory/homelab.ini
interpreter_python = auto_silent
local_tmp = .ansible/tmp
retry_files_enabled = False
timeout = 30

[ssh_connection]
control_path_dir = .ansible/cp
pipelining = True
